<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Carts</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/styles/css/colors.css">
  <link rel="stylesheet" href="/styles/css/admin_carts.css">
  <script src="/scripts/admin_carts.js"></script>
</head>
<body>
  <header>
    <%- include("../partials/navbar") %>
    <%- include("../partials/admin_navbar") %>
  </header>
  <div class="container">
    <h1>Manage Carts</h1>
    <div id="admin-summary-container">
      <div id="admin-summary-text">
        <p>Pending: <%= summary.pending%></p>
        <p>Packed: <%= summary.packed%></p>
        <p>Total: <%= summary.total%></p>  
      </div>
      <div id="admin-summary-selectors">
        <span>Filter by: </span>
        <select id="admin-summary-filter">
          <option value="all">All</option>
          <option value="pending">Pending</option>
          <option value="packed">Packed</option>
        </select>
      </div>
    <div id="admin-cart-list" class="admin-cart-list">
      <% for (var c of carts) {%>
        <a class="cart-card" href="/admin/carts/<%= c.username%>">
          <h2><%= c.username%>: Cart <%= c.index%></h2>
          <% if (c.status == "Pending") {%>
            <p class="pending" ><%= c.status%></p>
          <% } else if (c.status == "Packed") {%>
            <p class="packed" ><%= c.status%></p>
          <% }%>
        </a>
      <% }%>
    </div>
  </div>
</body>
</html>