<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <%- include("../partials/head"); %>
  <link rel="stylesheet" href="../styles/css/admin.css">
</head>
<body>
  <header>
    <%- include("../partials/header"); %>
  </header>

  <form id="get-cart" action="/carts/details" method="post">
    <label for="get-cart-name">Get Cart</label>
    <input id="get-cart-name" type="text" name="username" placeholder="Name" required>
    <input type="submit" value="Get Cart">
  </form>

  <form id="create-new-item" action="/admin/items/add" method="post">
    <label for="new-item-itemname">Name</label>
    <input id="new-item-itemname" type="text" name="itemname" placeholder="Name" autofocus required>
    
    <label for="new-item-quantity">Quantity</label>
    <input id="new-item-quantity" type="number" min="1" name="quantity" value="1" required>  
  
    <label for="new-item-description">Description</label>
    <input id="new-item-description" type="text" name="description" placeholder="Description">

    <label for="new-item-tags">Tags</label>
    <input id="new-item-tags" type="text" name="tags" placeholder="Tags">

    <input id="new-item-submit" type="submit">
  </form>

  <div id="items-list">
    <% for (let i of items) {%>
      <div class="item-card">
        <span class="item-itemname item-card-info"><%= i.itemname%></span>
        <form class="item-incr-quantity item-card-info" action="/admin/items/edit/quantity/add" method="post">
          <input type="hidden" name="id" value="<%= i.id%>">
          <input type="hidden" name="incr-quantity" value="1">
          <button type="submit">+</button>
        </form>
        <span class="item-quantity item-card-info"><%= i.quantity%></span>
        <form class="item-decr-quantity item-card-info" action="/admin/items/edit/quantity/sub" method="post">
          <input type="hidden" name="id" value="<%= i.id%>">
          <input type="hidden" name="decr-quantity" value="1">
          <button type="submit">-</button>
        </form>
        <a class="item-edit item-card-info" href="/admin/items/edit/<%= i.id%>">Edit</a>
        <% if (i.description && i.description.length > 0) {%>
          <button class="item-expand" onclick="expandItem(this)">Expand</button>
          <div class="item-card-info" hidden>
            <div class="item-description"><%= i.description%></div>
            <div class="item-tags"><%= i.tags%></div>
          </div>
        <% }%>
        <form class="item-remove item-card-info" action="/admin/items/remove" method="post">
          <input type="hidden" name="id" value="<%= i.id%>">
          <button type="submit">x</button>
        </form>
      </div>
    <% }%>
  </div>

  <form action="/admin/items/upload" method="post">
    <input type="textarea" name="items">
    <input type="submit">
  </form>
</body>
</html>