<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Edit Cart</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/styles/css/colors.css">
  <link rel="stylesheet" href="/styles/css/admin_carts_view.css">
</head>

<body>
  <header>
    <%- include("../partials/navbar") %>
      <%- include("../partials/admin_navbar") %>
  </header>
  <div id="cart-view-header" class="cart-view-header">
    <% if (carts.length> 0) {%>
      <h1>
        <%= carts[0].name%>
      </h1>
      <h2>
        <%= carts[0].address_type%>: <%= carts[0].contact_details%>
      </h2>
      <p>
        <%= carts[0].contact_type%>: <%= carts[0].contact_details%>
      </p>
      <form action="/admin/user/password/reset" method="post">
        <label>Reset Password</label>
        <input type="hidden" name="user_id" value="<%= carts[0].user_id%>">
        <input type="text" placeholder="New Password" name="password" required="required">
        <input type="submit" value="Update">
      </form>
      <% }%>
  </div>
  <div id="cart-view-cart-list" class="cart-view-cart-list">
    <% for (var c of carts) {%>
      <div class="cart-card">
        <h2>Status: <%= c.status%>
        </h2>
        <form action="/admin/carts/<%=c.user_id%>/<%= c.order_id%>" method="post">
          <select name="status" required="required">
            <option value=0>Pending</option>
            <option value=1>Packed</option>
            <option value=2>Delivered</option>
          </select>
          <input type="submit" value="Update">
        </form>
        <% for (var i of c.items) {%>
          <div id="item-card-<%= i.uid%>" class="item-card">
            <span>
              <%= i.itemname%>
            </span>
            <span>
              <%= i.quantity%>
            </span>
            <span>
              <%= i.description%>
            </span>
            <span>
              <%= i.tags%>
            </span>
            <input type="checkbox">
          </div>
          <% }%>
      </div>
      <% }%>
  </div>
</body>

</html>