<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
<body>
  <header>
    <%- include("../partials/header"); %>
  </header>

  <% for (let c of carts) {%>
    <h1><%= c.username%></h1>
    <% if (c.admin == "admin") {%>
      <h2><%= c.address%></h2>
    <% }%>
    <div class="items-list">
      <h2 id="items-list-header">Items</h2>
      <% for (let i of c.items) {%>
        <div id="item-card-<%= i.uid%>" class="item-card">
          <label for="item-itemname">Name: </label> 
          <span class="item-itemname"><%= i.itemname%></span>
          <label for="item-quantity">Quantity: </label>
          <span class="item-quantity"><%= i.quantity%></span>
          <% if (i.description && i.description.length > 0) {%>
            <button class="item-expand" onclick="expandItem(this)">Expand</button>
            <p class="item-description" hidden>Description: <%= i.description%></p>
          <% }%>
        </div>
      <% }%>
    </div>
  <% }%>
</body>
</html>