<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Marketplace</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/styles/css/colors.css">
  <link rel="stylesheet" href="/styles/css/marketplace.css">
  <script src="/scripts/marketplace.js"></script>
</head>
<body>
  <header>
    <%- include("../partials/navbar") %>
  </header>
  <div class="container">
    <div class="marketplace-item-list-container">
      <h1>Marketplace</h1>
      <div id="marketplace-item-list" class="marketplace-item-list">
        <input type="text" id="marketplace-item-search" placeholder="Search...">
        <% for (var i of items) {%>
          <% if (i.quantity > 0) {%>
            <div id="item-card-<%= i.uid%>" class="item-card" onclick="tryAddItem('<%= i.uid%>', '<%= i.itemname%>')">
              <span class="item-card-itemname"><%= i.itemname%></span>
              <span class="item-card-quantity"><%= i.quantity%></span>
              <span class="item-card-description"><%= i.description%></span>
            </div>
          <% }%>
        <% }%>
        <div id="marketplace-search-empty" class="warning-label" hidden>No items</div>
      </div>
    </div>
  
    <div class="marketplace-cart-container">
      <div id="marketplace-cart-info" class="marketplace-cart-info">
        <h1>Reservation</h1>
        <div id="cart-contact-info" class="cart-contact-info">
          <input id="cart-contact-username" type="text" name="username" placeholder="Name" required="required" maxlength=20>
          <input id="cart-contact-address" type="text" name="address" placeholder="Address" maxlength=20>
          <label>When do You Arrive?</label>
          <input id="cart-contact-arrival" type="date" name="arrival">
          <select id="cart-contact-method-select" name="contact-method" required="required">
            <option value="wha">WhatsApp</option>
            <option value="txt">Text</option>
            <option value="fcb">Facebook</option>
            <option value="eml">Email</option>
          </select>
          <input id="cart-contact-profile" type="text" name="contact-address" placeholder="Phone Number" required="required" maxlength=20>
          <button id="cart-submit" onclick="submitCart()" disabled>Submit</button>
        </div>
      </div>
      <div class="marketplace-cart-list-container">
        <p id="cart-empty-warning">Your cart is currently empty</p>
        <div id="marketplace-cart-list" class="marketplace-cart-list"></div>
      </div>
    </div>
  </div>
  
  <div id="add-to-cart-background" class="modal-background">
    <div id="add-to-cart-modal" class="modal">
      <span id="add-to-cart-close" class="modal-close">&times;</span>
      <h1 id="add-to-cart-itemname"></h1>
      <input id="add-to-cart-quantity" type="number" min=1 value=1>
      <button id="add-to-cart-confirm">Add to cart</button>
    </div>
  </div>
</body>
</html>